[submodule "1. Source code/Etailor.Client"]
	path = 1. Source code/Etailor.Client
	url = https://github.com/TungNT140601/ETailor.Client.git
[submodule "ETailor/1. Source code"]
	path = ETailor/1. Source code
	url = https://github.com/vuncse151184/Etailor.Mobile
